<div class="form">
  <button mat-flat-button color="accent" (click)="openAddNewsDialog()">Add More News  [+]</button>
</div>
<!--<div class="form">-->
<!--  <h1>Add Data: </h1>-->
<!--  <div class="form-group">-->
<!--    <input #id class="form-control" id="id" name="id" placeholder="*Enter id" value="0" required />-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <input #title class="form-control" id="title" name="title" placeholder="*Enter the title" required />-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <input #body class="form-control" id="body" name="body" placeholder="*Enter the body" required />-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <input #author class="form-control" id="author" name="author" placeholder="*Enter the author name" required />-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <input #imgUrl class="form-control" id="imgUrl" name="imgUrl" placeholder="Enter the image URL"  />-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <input #type class="form-control" id="type" name="type" placeholder="Enter the type"  />-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <input #tags class="form-control" id="tags" name="tags" placeholder="Enter tag, tag..."  />-->
<!--  </div>-->

<!--  <button (click)="onAddNews(title.value,body.value,author.value,imgUrl.value,type.value,tags.value)" class="btn btn-success mr-2">Add News</button>-->
<!--    <br>-->
<!--  <button (click)="onUpdateNews(id.value, title.value,body.value,author.value,imgUrl.value,type.value,tags.value)" class="btn btn-success">Update News</button>-->
<!--  <br>-->

<!--  <div *ngIf="error" class="alert alert-danger" role="alert">-->
<!--    <p>{{error}}</p>-->
<!--  </div>-->
<!--</div>-->
