div.form {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
div.form-group {
  padding: 5px;
  width: 70%;
}
input {
  width: 50%;
  font-size: 18px;
  padding: 4px;
  margin: 10px;
}
button {
  padding: 10px;
}
button:hover {
  cursor: pointer;
}
