<article class="content-{{ content.id }}">
  <h1 appHoverStyle [borderColor]="'#000000'" class="title">{{ content.title }}</h1>
  <p appHoverStyle [fontWeight] ="'bold'" class="author" *ngIf="content.author != '' "><strong>Author:</strong> {{ content.author }}</p>
  <section>
    <div>
      <img *ngIf="content.imgUrl; else imageNotFound" src="{{ content.imgUrl }}" (click)="onImageClick(content.id)" class="content-image" />
      <ng-template #imageNotFound>
        <img src="https://miro.medium.com/max/3600/1*cLQUX8jM2bMdwMcV2yXWYA.jpeg" (click)="onImageClick(content.id)" class="content-image" />
      </ng-template>
    </div>
  </section>
  <section>
    <p class="body" *ngIf="content.body != '' "><strong>Body:</strong> {{ content.body }}</p>
    <p class="type" *ngIf="content.type != '' "><strong>Type:</strong> {{ content.type }}</p>

    <p class="tags" *ngIf="content.tags.length != 0"><strong>Tags: </strong> <span *ngFor="let tag of content.tags;" appHoverStyle [fontWeight]='"bold"'>{{ tag }} </span></p>
  </section>
  <a mat-raised-button color="primary" routerLink="/content" routerLinkActive="active"> << BACK TO THE LIST</a>
</article>
