div.form-group {
  padding: 5px;
  width: 100%;
  margin: 0 auto;
} div class {
  background-color: antiquewhite;
}
input {
  width: 50%;
  font-size: 18px;
  padding: 5px;
  margin: 10px;
}

.mat-input {
  background-color: #d3e5e4;
  width: 90%;
  margin-top: 18px;
}

mat-form-field {
  width: 50%;
  background-color: #fdfdfc;
}

