<h1>Movie: {{content.id}}</h1>
<article class="content-{{ content.id }}">
  <h1 class="title">{{ content.title }}</h1>

  <section>
    <div *ngIf="content.imgUrl">
      <img src="{{ content.imgUrl }}" (click)="onImageClick(content.id)" class="content-image" />
    </div>
  </section>

  <section>
    <p class="body" *ngIf="content.body">{{ content.body }}</p>
    <p class="type" *ngIf="content.type"><strong>Type:</strong> {{ content.type }}</p>
    <p class="tags" *ngIf="content.tags"><strong>Tags:</strong> {{ content.tags }}</p>
    <p class="author"><strong>Author:</strong> {{ content.author }}</p>
  </section>
</article>
